body {

    background-image: url(images/Background-01.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: lightblue;
}
.enlarge{
    transition: all .2s ease-in-out;
}

.enlarge:hover{
    transform: scale(1.1);
}

.animate{

}


.tent{
    position: absolute;
    height: auto;
    width: auto;
    max-width: 130px;
    top:33%;
    left:31%;
    z-index: 8;
}

.bohoChick1{
    position: absolute;
    height: auto;
    width: auto;
    max-width: 60px;
    top:33%;
    left:43%;
    z-index: 5;
}

.fire{
    position: absolute;
    height: auto;
    width: auto;
    max-width: 80px;
    top:43%;
    left:49%;
    z-index: 3;
}

.bohoChick2{
     position: absolute;
     height: auto;
     width: auto;
     max-width: 55px;
     top:31%;
     left:58%;
     z-index: 5;
 }

.dreamCatcher{
    position: absolute;
    height: auto;
    width: auto;
    max-width: 62px;
    top:62%;
    left:24%;
    z-index: 6;
}

.inputBox{
    position: absolute;
    height: 49px;
    width: 43%;
    top: 62%;
    left: 27%;
    z-index: 5;
    opacity: .5;
    padding: 15px 15px;
    background-color: white;
    /*border: 1px solid black;*/
    border-radius:0px;
    color: blueviolet ;

    /*-webkit-transition: top 0.4s ease-in-out;*/
    -webkit-transition: height 0.4s ease-in-out;
    transition: height 0.4s ease-in-out;
    /*transition: top 0.4s ease-in-out;*/
    resize: none;

}
.inputBox:focus {
    border: 1px solid #555;
    background-color: lightgreen;
    height: 50px;
    /*top:62%;*/
}

.submitButton{
    position: absolute;
    height: auto;
    width: auto;
    max-width: 100px;
    top:62%;
    left:68%;
    z-index: 6;
}


 /*For mobile devices*/
@media only screen and (max-width: 767px) {
    body {
        /* The file size of this background image is significantly smaller
         * to improve page load speed on mobile internet connections */
        background-image: url(images/Background-forMobileDevices.jpg);
    }
}
